<!-- extend from base layout -->
{% extends "index/base.html" %}
{% block content %}
  <h1>Hello! check console: fligt {{ flight }}</h1>
    <div>  current tag: {{ tag }} <br>
        <select id="tagBoxFlights" onchange="selectedTag()">
        {% for tag in fp %}
        <option value="{{ tag }}">
            {{ tag }}
        </option>
        {% endfor %}
        </select>

        <ul>
        {% for tmp in data %}
            <li> {{ tmp.Date }} </li>
            <li> {{ tmp.val }} </li>
        {% endfor %}
    </ul>
    <p> {{ msg }} </p>
    </div>
{% endblock %}